@import url('https://fonts.googleapis.com/css2?family=Sen:wght@800&display=swap');
body{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.logo-img {
    width: 169px;
    height: 134px;
    left: 50px;
    top: 24px;
   vertical-align: top;
    
    
   
}


.main-page-nav a{
 
    list-style: none;
    padding: 12px;
    float:right;

    font-family: Sen;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 80px;
    text-align: right;
    text-transform: uppercase;
    vertical-align: middle;
    color: #000000;
    text-align: center;
	text-decoration: none;
	padding:10px;

	/* Flexbox */
	flex-grow:1;



}

.container-main-page{
	width:100%;
	max-width:1440px;
	

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

.main-page{
  
    margin:0 ;
    background-image: url("assets/images/main-page-pic.png");
    background-position: 0% 0%;
    background-size: cover;
    display: table;

width: 1440px;
height: 810px;
left: 0px;
top: 0px;

}

.social-media{


}

.main-page-text{
width: 258px;
height: 22px;
left: 122px;
top: 429px;
margin-left: 150px;


}

.main-page-nav{
    width:50%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center; 
}

.btn:hover{
color:white;
}

.header{
	width:100%;
	padding:5px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}


header nav a {
	color:black;
	text-align: center;
	text-decoration: none;
	padding:10px;

	/* Flexbox */
	flex-grow:1;
}


 ul li{
    display: inline-block;
    
}
