@import url('https://fonts.googleapis.com/css2?family=Sen:wght@800&display=swap');
body{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.logo{
    width: 169px;
    height: 134px;
    left: 50px;
    top: 24px;
    margin-right: 1200px;
    margin-left: 50px;
    margin-top: -100px;
    
   
}


ul li{
 
    list-style: none;
    padding: 12px;
    float:right;

font-family: Sen;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 80px;
text-align: right;
text-transform: uppercase;
vertical-align: middle;
color: #000000;



}

.principal-page{
  
    margin:0 ;
    background-image: url("assets/images/principal-page-pic.png");
    background-position: 0% 0%;
    background-size: cover;
    display: table;

width: 1440px;
height: 810px;
left: 0px;
top: 0px;

}

.social-media{


}

.principal-page-text{
width: 258px;
height: 22px;
left: 122px;
top: 429px;
margin-left: 150px;


}

.navbar-container{
  
align-items:"left";  
justify-content: flex-end;
    align-items: left;  
}
.navbar{
    
}

.btn:hover{
color:white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 50px;
}

.container-header{
    display: flex;
    align-items: right;
    justify-content: flex-end;
}

 ul li{
    display: inline-block;
    
}